<!DOCTYPE html>
<html>
<head>
    <title>Sleep Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="title-container">
        <h1>RestRight</h1>
    </div>

    <div class="current-time-container">
        <span id="current-time">Current time: </span>
        <div class="toggle-container">
            <label class="switch24">
                <input type="checkbox" id="time-format-toggle">
                <span class="slider round"></span>
            </label>
            <span class="toggle-label">24 Hour</span>
        </div>
    </div>

    <form id="sleepForm" action="/calculate" method="POST">
        <label for="time_to_fall_asleep">How long does it take you to fall asleep? (minutes)</label>
        <input type="number" id="time_to_fall_asleep" name="time_to_fall_asleep" placeholder="15" min="1" step="1" oninput="this.value = this.value.replace(/^0+/, '')">
        <span id="error-message" style="color: red; display: none;">Enter a valid time (1-120 minutes).</span>
        <button type="submit">Calculate</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            //sends timezone offset to the server -- thx juan
            var timezoneOffset = new Date().getTimezoneOffset();
            fetch('/set-timezone', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ offset: timezoneOffset })
            });
        });
    </script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>